<a href="admin/crear-persona" class="waves-effect waves-light btn-large">Crear Asesor</a>
<a href="admin/crear-producto" class="waves-effect waves-light btn-large">Crear Producto Nuevo</a>
<a href="admin/respuestas" class="waves-effect waves-light btn-large">Respuestas a Asignacion de Asesor</a>
<a href="admin/solicitudes" class="waves-effect waves-light btn-large">Listado de Solicitudes</a>
<a href="admin/asignar-pedido" class="waves-effect waves-light btn-large">Asignacion de Asesor A Pedido</a>
<a href="admin/grafos/main-grafos" class="waves-effect waves-light btn-large">Estadisticas Graficas</a>
