<p>mis compras con botones de cancelar estado-compra estado-credito y facturacion</p>
<div class="row">
    <form id="compras" class="col s12">
        <div class="row">
            <div class="input-field col s4">
            <label for="producto">PRODUCTO</label>
            </div>
        
            <a href="cliente/estado-compra" class="waves-effect waves-light btn">Estado de la Compra</a>
            <a href="cliente/estado-credito" class="waves-effect waves-light btn">Estado del Credito</a>
            <a href="cliente/facturacion" class="waves-effect waves-light btn">Factura</a>
            <a href="cliente/cancelar" class="waves-effect waves-light btn">Cancelar Compra</a>
        </div>
    </form>
</div>