
<div id="container">
    <div id="bg"></div>
        <form action="" id="login" autocomplete="off">
            <h3 id="title">Ingresa a MIDESOFT</h3>
            <input type="email" name="" id="correo" placeholder="Alguien@email.com" autocomplete="off"><br>
            <input type="password" name="" id="password" placeholder="Contraseña"><br><br>
            <div [hidden]="captcha">
                <re-captcha (resolved)="resolved($event)" siteKey="6LfqDkcdAAAAAM0086-pPTESqR1EaecN_eeJTB45"></re-captcha>
            </div>
            <div [hidden]="!captcha">
                <p>{{ validacion }}</p>
            </div><br>
            <input type="submit" value="Login">
        </form>
</div>
