<footer id="pie" class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l7 s12">
          <h5 class="white-text">MIDESOFT</h5>
        </div>
        <div class="col l3 offset-l2 s12">
          <h6 class="white-text">Links</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">¿Quienes Somos?</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Privacidad</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
