

  <header class="encabezado">
    <div>
      <a class="logo" href=""><img class="brand-logo" src="https://i.imgur.com/68IwzET.jpg" alt="LOGOMIDESOFT"></a>
    </div>
    <nav class="menu">
        <div class="nav-wrapper">
          <ul>
            <li *ngIf ="sesionIniciada">
              <a routerLink="cliente/main-cliente">Clientes</a>
            </li>
            <li *ngIf ="sesionIniciada">
              <a routerLink="badges">Asesor</a>
                <ul>
                  <li><a routerLink="#">Pedido</a></li>
                </ul>
            </li>
            <li *ngIf ="sesionIniciada">
              <a routerLink="collapsible">Administrador</a>
                <ul>
                  <li><a routerLink="html/producto.html">Crear producto</a></li>
                  <li><a routerLink="#">Crear asesor</a></li>
                </ul>
            </li>
            <li *ngIf ="!sesionIniciada">
              <a routerLink="seguridad/login">Logeate!</a>
            </li>
            <li *ngIf ="sesionIniciada">
              <a routerLink="seguridad/log-out">Log-Out</a>
            </li>
          </ul>
        </div>
      </nav>

  </header>
