

  <header class="encabezado">
    <div>
      <a class="logo" href=""><img class="brand-logo" src="https://i.imgur.com/68IwzET.jpg" alt="LOGOMIDESOFT"></a>
    </div>
    <nav class="menu">
        <div class="nav-wrapper">
          <ul>
            <li>
              <a routerLink="cliente/main-cliente">Clientes</a>
              <ul>
                <li *ngIf ="!sesionIniciada">
                  <a routerLink="cliente/registro-cliente">Registrate!</a>
                  <a routerLink="cliente/comprar">Comprar</a>
                </li>
              </ul>
              <ul>
                <li *ngIf ="sesionIniciada">
                  <a routerLink="cliente/comprar">Comprar</a>
                  <a routerLink="cliente/mis-compras">Mis Compras</a>
                </li>
              </ul>
            </li>
            <li *ngIf ="sesionIniciada">
              <a routerLink="pedidos/main-asesor">Asesor</a>
                <ul>
                  <li><a routerLink="pedidos/consultar-pedidos-asignados">Ver Pedidos Asignados</a></li>
                  <li><a routerLink="pedidos/editar-pedidos-asignados">Editar Pedidos Asignados</a></li>
                  <li><a routerLink="pedidos/buscar-pedidos">Ver Todos los Pedidos</a></li>
                </ul>
            </li>
            <li *ngIf ="sesionIniciada">
              <a routerLink="admin/main-admin">Administrador</a>
                <ul>
                  <li><a routerLink="admin/crear-persona">Crear Asesor</a></li>
                  <li><a routerLink="admin/crear-producto">Crear Producto</a></li>
                  <li><a routerLink="admin/buscar-producto">Buscar/Editar Producto</a></li>
                  <li><a routerLink="admin/respuestas">Respuestas</a></li>
                  <li><a routerLink="admin/solicitudes">Listado</a></li>
                  <li><a routerLink="admin/asignar-pedido">Asignaciones</a></li>
                  <li><a routerLink="admin/grafos/main-grafos">Estadisticas</a></li>
                </ul>
            </li>
            <li *ngIf ="!sesionIniciada">
              <a routerLink="seguridad/login">Logeate!</a>
            </li>
            <li *ngIf ="sesionIniciada">
              <a routerLink="seguridad/log-out">Log-Out</a>
            </li>
          </ul>
        </div>
      </nav>

  </header>
