@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 220px;
    height: 64px;  
    position: absolute;
}

.encabezado nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

.encabezado nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-family: "Oswald";
    font-size: 20px;
    color: white;
    padding: 12px 20px;
    display: block;
}
.logo{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0px;
    height: 70px;
    width: 220px;
    padding: 0;
}

a:hover{
    background: rgba(0,0,0,0.2);
    color: #EB6D0A;
    animation: 0.5s tit 1;
}

@keyframes tit{
    0%{
        opacity: 0;
        transform: scale(1.6);
    }
}

.encabezado nav ul li ul{
    display: flex;
    flex-direction: column;
    display: none;

}

.encabezado nav ul li ul{
    position: absolute;
    background: #676A78;
}

.encabezado nav ul li ul li{
    width: 180px;
}

.encabezado nav ul li:hover ul{
    display: block;
}
